.hamburger {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 4rem;
    width: 100vw;
    text-align: right;
    border: 1px solid black;
}

.burger-item {
    padding-right: 1rem;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 400;
}

.burger-item:hover {
    background-color: #22c1c3;
    color: white;
    font-weight: 800;
}

.burger-link {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 1rem 0rem 1rem 0rem;
}

@media (min-width: 675px) {
    .hamburger {
        display: none;
    }
}