.skill-blocks {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
}

.skill-blocks span {
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    background-color: #D3D3D3;
    font-size: 0.8rem;
}